In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
df = pd.read_excel('data/AKtywność MlrA_McC7_MlrA20220408.ods')
df = df[1:]
df = df[df['stężenie białka x20'] = ]
df

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1, Unnamed: 2, retention time, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, assay, Unnamed: 18, Unnamed: 19, average, Unnamed: 21, stężenie białka x20, Unnamed: 23, total protein, Unnamed: 25, MlrA activity/mg protein, Unnamed: 27, Unnamed: 28, stężenie białka x50, Unnamed: 30, total protein.1, Unnamed: 32, MlrA activity/mg protein.1, Unnamed: 34, Unnamed: 35, stężenie białka x100, Unnamed: 37, total protein.2, Unnamed: 39, MlrA activity/mg protein.2]
Index: []

[0 rows x 41 columns]